.App {
  text-align: center;
}
.container {
  display: flex;
  max-width: 1089px;
  margin: 0px auto;
  padding: 0 15px;
  gap: 162px;
  margin-top: 103px;
}

.page-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  gap: 10px;
}
.page-links {
  display: flex;
  flex-direction: column;
  gap: 27px;
  flex: 0 1 20%;
}
.profile {
  display: flex;
  gap: 23px;
  align-items: center;
}
.profile__picture {
}
.profile__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.vote-box {
  margin-top: 31px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 34px 34px 13px 34px;
}
.vote-container {
}
.vote__overview {
  max-width: 366px;
}
.vote__name {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
.vote__picture {
  margin-top: 42px;
  border-radius: 32px;
}
.vote__picture img {
  border-radius: 32px;
}
.vote__text {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: left;
}
.vote__line {
  margin-top: 21px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
